# Git Config
# Late Update: Jan 21, 2019

[include]
  path = ~/.gitconfig_local

[user]
	name = Brajeshwar Oinam
	email = brajeshwar@oinam.com

[github]
  user = Brajeshwar

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[bitbucket]
  user = oinam

[credential]
  helper = osxkeychain

[core]
# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes

# Treat spaces before tabs, lines that are indented with 8 or more spaces,
# and all kinds of trailing whitespace as an error

whitespace = space-before-tab,indent-with-non-tab,trailing-space
editor = sublime -n -w

[alias]
  amend       = !git add -A && git commit --amend --no-edit
  ap          = add --patch
  c           = "!git add -A && git commit -m "
  caa         = commit -a --amend -C HEAD # Put whatever I've done into the previous commit
  co          = checkout
  fo          = fetch origin --prune
  ignored     = !git ls-files -v | grep "^[[:lower:]]"
  lg          = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
  pulld       = pull --rebase origin dev
  pullm       = pull --rebase origin master
  pushall     = !git remote | xargs -n1 git push
  pushalltags = !git remote | xargs -n1 git push --tags
  pushd       = push origin dev
  pushm       = push origin master
  s           = status -s -b
  undo        = reset --soft HEAD^

[push]
  default = simple

[color]
  ui = auto

[color "branch"]
  current = red
  local = green
  remote = blue

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  stat = true
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[mergetool]
  keepBackup = true

# Use `origin` as the default remote on the `master` branch in all cases
  prompt = false

[branch "master"]
  remote = origin
  merge = refs/heads/master

[http]
	sslVerify = false
  proxy = false

[https]
  proxy = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# Mobisy
[includeIf "gitdir:~/dev/"]
  path = ~/dev/mobisy.dot/.gitconfig