"*":
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    themes: [
      "atom-dark-ui"
      "ciku-syntax"
    ]
    projectHome: "/Users/brajeshwar/dev"
    disabledPackages: [
      "markdown-preview"
    ]
    ignoredNames: [
      ".DS_Store"
      ".git"
      ".hg"
      ".sass-cache"
      ".svn"
      "Icon?"
      "Thumbs.db"
      "ehthumbs.db"
    ]
    openEmptyEditorOnStart: false
  editor:
    invisibles: {}
    fontFamily: "Hack"
    showIndentGuide: true
    preferredLineLength: 100
    fontSize: 15
    lineHeight: 1.6
    scrollPastEnd: true
    scrollSensitivity: 50
    backUpBeforeSaving: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "highlight-line":
    hideHighlightOnSelect: true
  tabs:
    usePreviewTabs: true
  "aligner-scss":
    ":-leftSpace": true
  aligner:
    ":-leftSpace": true
    ":-alignment": "left"
  "exception-reporting":
    userId: "85cf381a-5bfc-7db7-27f0-ebb617305779"
  "atom-beautify":
    _analyticsUserId: "60940952-5525-44d7-9073-89321f7b4368"
